# Cases in Malaysia
> Updates on the respiratory illness that has infected more than one million people and killed tens of thousands.

- toc:false
- branch: master
- badges: false
- hide: true
- comments: false
- permalink: /covid-overview-my/

## COVID-19: Malaysia at a Glance

In [0]:
#hide
import pandas as pd
import numpy as np
import altair as alt
import ipywidgets as widgets
#from jinja2 import Template
from IPython.display import HTML

#hide
# COVID-19 Data from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series
base_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data'

# confirmed, deaths, recovered
def get_time_series(type):
  _url = f'{base_url}/csse_covid_19_time_series/time_series_covid19_{type}_global.csv'
  _dff = pd.read_csv(_url)
  _cols = _dff.columns[~_dff.columns.isin(['Province/State', 'Country/Region', 'Lat', 'Long'])]
  _dff = (_dff.groupby('Country/Region')[_cols].sum().stack().reset_index(name = 'Cases')
        .rename(columns = {'level_1': 'Date', 'Country/Region': 'Country'}))
  _dff['Date'] = pd.to_datetime(_dff['Date'], format='%m/%d/%y')
  return _dff

# eg. 03-27-2020
def get_df_daily(date):
  _url = f'{base_url}/csse_covid_19_daily_reports/{date}.csv'
  return pd.read_csv(_url)

df_confirmed = get_time_series('confirmed')
df_recovered = get_time_series('recovered')
df_deaths = get_time_series('deaths')

date_latest = df_confirmed['Date'].max()

def countries_cases(df, n=5000, date_as_of=date_latest):
  df_latest = df[df['Date'].eq(date_as_of)]
  df_latest_n = df_latest[df_latest['Cases'] > n]
  return df_latest_n

# Last n days of type e.g. confirmed, recovered, deaths
df_last = lambda name, _df, n: _df[_df['Date'].isin(_df['Date'].tail(n))].set_index(['Country', 'Date']).rename(columns={'Cases': name})

# Last 2 days all global
df_summary = lambda last_n: pd.concat([df_last('Confirmed', df_confirmed, last_n), df_last('Deaths', df_deaths, last_n), df_last('Recovered', df_recovered, last_n)], axis=1)

df_global = df_summary(2).groupby(['Date']).sum().reset_index()

df_global_summary = df_global.stack().reset_index().rename(columns={'level_1': 'Type', 0: 'Cases'})

#print(date_latest)

s_date_latest = date_latest.strftime('%m/%d/%Y')
n_confirmed = df_global.loc[1]['Confirmed']
n_deaths = df_global.loc[1]['Deaths']
n_recovered = df_global.loc[1]['Recovered']

df_global_diff = df_global.diff()
n_confirmed_diff = df_global_diff.loc[1]['Confirmed']
n_deaths_diff = df_global_diff.loc[1]['Deaths']
n_recovered_diff = df_global_diff.loc[1]['Recovered']

weekDays = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday") 

df_confirmed_my = df_confirmed[df_confirmed['Country'] == 'Malaysia'].rename(columns={'Cases': 'Total number of Cases', 'Date': 'Reported Date'})
df_summary_my = df_summary(2).loc['Malaysia'].reset_index(drop=True)
n_confirmed_my = df_summary_my.loc[1]['Confirmed']
n_deaths_my = df_summary_my.loc[1]['Deaths']
n_recovered_my = df_summary_my.loc[1]['Recovered']

In [95]:
#hide_input
HTML(f'Confirmed Cases<br/><h1>{n_confirmed_my:,}</h1>')

In [96]:
#hide_input
HTML(f'Deaths<br/><h1>{n_deaths_my:,}</h1>')

In [14]:
#hide_input
alt.Chart(df_confirmed_my).mark_bar().encode(
    x='Reported Date:T',
    y='Total number of Cases:Q'
).properties(
    width=600,
    title='Cummulative total number of COVID-19 cases in Malaysia'
)

alt.Chart(...)

In [15]:
#hide_input
df_confirmed_my[['Reported Date', 'Total number of Cases']].set_index('Reported Date').rename(columns={'Total number of Cases': 'Total'}).transpose()

Reported Date  2020-01-22  2020-01-23  ...  2020-04-04  2020-04-05
Total                   0           0  ...        3483        3662

[1 rows x 75 columns]

        Date  Confirmed  Deaths  Recovered
0 2020-04-04    1197405   64606     246152
1 2020-04-05    1272115   69374     260012