# Cases in Malaysia
> Updates on the respiratory illness that has infected more than one million people and killed tens of thousands.

- toc:false
- branch: master
- badges: false
- hide: false
- comments: false
- permalink:/covid-my-overview/

In [0]:
#hide
import pandas as pd
import numpy as np
import altair as alt
import ipywidgets as widgets
#from jinja2 import Template
from IPython.display import HTML

#hide
# COVID-19 Data from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series
base_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data'

# confirmed, deaths, recovered
def get_time_series(type):
  _url = f'{base_url}/csse_covid_19_time_series/time_series_covid19_{type}_global.csv'
  _dff = pd.read_csv(_url)
  _cols = _dff.columns[~_dff.columns.isin(['Province/State', 'Country/Region', 'Lat', 'Long'])]
  _dff = (_dff.groupby('Country/Region')[_cols].sum().stack().reset_index(name = 'Cases')
        .rename(columns = {'level_1': 'Date', 'Country/Region': 'Country'}))
  _dff['Date'] = pd.to_datetime(_dff['Date'], format='%m/%d/%y')
  return _dff

# eg. 03-27-2020
def get_df_daily(date):
  _url = f'{base_url}/csse_covid_19_daily_reports/{date}.csv'
  return pd.read_csv(_url)

df_confirmed = get_time_series('confirmed')
df_recovered = get_time_series('recovered')
df_deaths = get_time_series('deaths')

date_latest = df_confirmed['Date'].max()

def countries_cases(df, n=5000, date_as_of=date_latest):
  df_latest = df[df['Date'].eq(date_as_of)]
  df_latest_n = df_latest[df_latest['Cases'] > n]
  return df_latest_n

# Last n days of type e.g. confirmed, recovered, deaths
df_last = lambda name, _df, n: _df[_df['Date'].isin(_df['Date'].tail(n))].set_index(['Country', 'Date']).rename(columns={'Cases': name})

# Last 2 days all global
df_summary = lambda last_n: pd.concat([df_last('Confirmed', df_confirmed, last_n), df_last('Deaths', df_deaths, last_n), df_last('Recovered', df_recovered, last_n)], axis=1)

df_global = df_summary(2).groupby(['Date']).sum().reset_index()

df_global_summary = df_global.stack().reset_index().rename(columns={'level_1': 'Type', 0: 'Cases'})

#print(date_latest)

s_date_latest = date_latest.strftime("%B %d, %Y") #.strftime('%m/%d/%Y')
n_confirmed = df_global.loc[1]['Confirmed']
n_deaths = df_global.loc[1]['Deaths']
n_recovered = df_global.loc[1]['Recovered']

df_global_diff = df_global.diff()
n_confirmed_diff = df_global_diff.loc[1]['Confirmed']
n_deaths_diff = df_global_diff.loc[1]['Deaths']
n_recovered_diff = df_global_diff.loc[1]['Recovered']

weekDays = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday") 

df_my = lambda _df: _df[_df['Country'] == 'Malaysia'][['Date', 'Cases']]

df_confirmed_my = df_my(df_confirmed).rename(columns={'Cases': 'Total number of Cases', 'Date': 'Reported Date'})
df_summary_my = df_summary(2).loc['Malaysia'].reset_index(drop=True)
n_confirmed_my = df_summary_my.loc[1]['Confirmed']
n_deaths_my = df_summary_my.loc[1]['Deaths']
n_recovered_my = df_summary_my.loc[1]['Recovered']

df_summary_my_diff = df_summary_my.diff()
n_confirmed_my_diff = df_summary_my_diff.loc[1]['Confirmed']
n_deaths_my_diff = df_summary_my_diff.loc[1]['Deaths']
n_recovered_my_diff = df_summary_my_diff.loc[1]['Recovered']

## COVID-19: Malaysia at a Glance

In [5]:
#hide_input
HTML(
    f'<div style="height: 30px; width: 600px; margin: 0 auto;"><span style="font-size:0.8em;">as of {s_date_latest} 12PM</span></div>'
    f'<div style="width: 600px; margin: 0 auto;">'
    f'<div style="float: left; width: 200px">Confirmed Cases<br/><h1>{n_confirmed_my:,}</h1>(+{n_confirmed_my_diff:,.0f})</div>'
    f'<div style="float: right; width: 200px">Deaths<br/><h1>{n_deaths_my:,}</h1>{n_deaths_my/n_confirmed_my:.2%} (+{n_deaths_my_diff:,.0f})</div>'
    f'<div style="float: right; width: 200px">Recovered<br/><h1>{n_recovered_my:,}</h1>{n_recovered_my/n_confirmed_my:.2%} (+{n_recovered_my_diff:,.0f})</div>'
    f'</div>'
)

In [6]:
#hide_input
alt.Chart(df_confirmed_my).mark_bar().encode(
    x='Reported Date:T',
    y='Total number of Cases:Q',
    tooltip=list(df_confirmed_my)
).properties(
    width=600,
    title='Cummulative total number of COVID-19 cases in Malaysia'
)

alt.Chart(...)

In [7]:
#hide_input
df_confirmed_my[['Reported Date', 'Total number of Cases']].set_index('Reported Date').rename(columns={'Total number of Cases': 'Total'}).transpose()

Reported Date  2020-01-22  2020-01-23  ...  2020-04-10  2020-04-11
Total                   0           0  ...        4346        4530

[1 rows x 81 columns]

In [8]:
#hide_input
df_reported_my = df_confirmed_my[['Reported Date', 'Total number of Cases']].set_index('Reported Date').diff().rename(columns={'Total number of Cases': 'Reported Cases'})
alt.Chart(df_reported_my.reset_index()).mark_bar().encode(
    x='Reported Date:T',
    y='Reported Cases:Q',
    tooltip = list(df_reported_my)
).properties(
    title = 'Number of Reported Cases in Malaysia each day',
    width = 600
)

alt.Chart(...)

In [9]:
#hide_input
df_reported_my.transpose()

Reported Date   2020-01-22  2020-01-23  ...  2020-04-10  2020-04-11
Reported Cases         NaN         0.0  ...       118.0       184.0

[1 rows x 81 columns]

In [10]:
#hide_input
df_closed_my = pd.merge(df_my(df_recovered), df_my(df_deaths), on='Date').rename(columns={'Cases_x': 'Recovered', 'Cases_y': 'Deaths'})
df_closed_my['Total'] = df_closed_my['Recovered'] + df_closed_my['Deaths']
df_closed_my['Recovered_Rate'] = df_closed_my['Recovered']/ df_closed_my['Total']
df_closed_my['Deaths_Rate'] = df_closed_my['Deaths']/ df_closed_my['Total']
_base = alt.Chart(df_closed_my.round(6)[['Date', 'Recovered_Rate', 'Deaths_Rate']]).encode(x='Date:T')
_recovered = _base.mark_line(color='green').encode(
              y=alt.Y('Recovered_Rate:Q', axis=alt.Axis(format='%')))
_deaths = _base.mark_line(color='red').encode(y=alt.Y('Deaths_Rate:Q', axis=alt.Axis(format='%')))

(_recovered + _deaths).properties(title='Outcome of Total Closed Case (Recovery Rate vs Death Rate)', width=600)

alt.LayerChart(...)

In [11]:
#hide_input
df_closed_my[['Date', 'Recovered_Rate', 'Deaths_Rate']].transpose()

                       0          1   ...                   79                   80
Date           2020-01-22 2020-01-23  ...  2020-04-10 00:00:00  2020-04-11 00:00:00
Recovered_Rate        NaT        NaT  ...             0.963158               0.9647
Deaths_Rate           NaT        NaT  ...            0.0368421            0.0352998

[3 rows x 81 columns]

In [12]:
#hide
df_states = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTzT9vUJNiKV2yN4sb_VvxKcq-B2triWGPE74rfUT4XOsF-5qsB1tM6OfMPVKiRHX95tE9tPubdTbxY/pub?gid=1726267961&single=true&output=csv", parse_dates=['Date'])
df_states.set_index('Date').sum(axis=1)

Date
3/27    130
3/28    159
3/29    150
3/30    156
3/31    140
4/1     142
4/2     208
4/3     217
4/4     150
4/5     179
4/6     131
4/7     170
4/8     156
4/9     109
4/10    118
4/11    184
dtype: int64

In [13]:
#hide
df_districts = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTzT9vUJNiKV2yN4sb_VvxKcq-B2triWGPE74rfUT4XOsF-5qsB1tM6OfMPVKiRHX95tE9tPubdTbxY/pub?gid=1667946793&single=true&output=csv")
df_districts_last2 = df_districts.set_index(['Districts', 'State']).transpose().tail(2)
df_districts_new = df_districts_last2.diff().tail(1).transpose()
df_districts_new = df_districts_new.sort_values(by=df_districts_new.columns[0], ascending=False).head(10)
df_districts_new[df_districts_new[df_districts_new.columns[0]] > 0]

                     4/10
Districts     State
Klang         SGR    25.0
Seremban      NSN    17.0
Kuching       SRW    17.0
Johor Bahru   JHR    13.0
Sepang        SGR    12.0
Lembah Pantai KUL    10.0
Hulu Selangor SGR    10.0
Kuantan       PHG    10.0
Petaling      SGR    10.0
Titiwangsa    KUL     9.0